.Article-post{
  resize: none;
  overflow-y: scroll;
  font-size: 15px;
}

.profile {
  border: 1px solid gray;
  border-radius: 10px;
  margin: 30px;
  padding: 10px;
  display: none;
}
.Button{
    background-color : #343a40;
    border:none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size:16px;
    margin: 4px 2px;
    cursor: pointer;
}

.Button:hover {
  background-color: #495057;
}

.Button:active, .Button.active {
  background-color: #1862ab;
}
